<!DOCTYPE html>
<html lang="en">
<head>
	@await Html.PartialAsync("_MetatagsPartial")
	@await Html.PartialAsync("_CssPartial")
</head>
<body>
@await Html.PartialAsync("_HeaderPartial")
<main>
	@RenderBody()
</main>

@await Html.PartialAsync("_ScriptsPartial")
</body>
</html>