<section class="converter">
    <div class="container">
        <div class="converter__container">
            <div class="converter__block">
                <div class="converter__select-block">
                    <div class="converter__select converter__select-currency">
                        <div class="converter__select-btn">
                            <div class="converter__select-label">RUB</div>
                            <button class="converter__select-arrow"></button>
                        </div>
                        <ul class="converter__select-list">
                            <li class="converter__select-item">RUB</li>
                            <li class="converter__select-item">USD</li>
                            <li class="converter__select-item">EUR</li>
                            <li class="converter__select-item">AUD</li>
                            <li class="converter__select-item">AZN</li>
                            <li class="converter__select-item">ALL</li>
                            <li class="converter__select-item">XCD</li>
                            <li class="converter__select-item">AOA</li>
                            <li class="converter__select-item">SYP</li>
                            <li class="converter__select-item">BMD</li>
                            <li class="converter__select-item">BWP</li>
                            <li class="converter__select-item">AZN</li>
                            <li class="converter__select-item">ALL</li>
                            <li class="converter__select-item">XCD</li>
                            <li class="converter__select-item">AOA</li>
                            <li class="converter__select-item">SYP</li>
                            <li class="converter__select-item">BMD</li>
                            <li class="converter__select-item">BWP</li>
                        </ul>
                    </div>
                    <div class="converter__select converter__select-central-bank">
                        <div class="converter__select-btn">
                            <div class="converter__select-label">Russia</div>
                            <button class="converter__select-arrow"></button>
                        </div>
                        <ul class="converter__select-list">
                            <li class="converter__select-item">Russia</li>
                            <li class="converter__select-item">Thailand</li>
                        </ul>
                    </div>
                </div>
                <div class="converter__input-block">
                    <input type="number" class="converter__input" value="0" maxlength="10">
                </div>
                <div class="converter__info">
                    From
                </div>
            </div>
            <div class="converter__swap">
                <button class="converter__swap-btn"></button>
            </div>
            <div class="converter__block">
                <div class="converter__select-block">
                    <div class="converter__select converter__select-currency">
                        <div class="converter__select-btn">
                            <div class="converter__select-label">RUB</div>
                            <button class="converter__select-arrow"></button>
                        </div>
                        <ul class="converter__select-list">
                            <li class="converter__select-item">RUB</li>
                            <li class="converter__select-item">USD</li>
                            <li class="converter__select-item">EUR</li>
                            <li class="converter__select-item">AUD</li>
                            <li class="converter__select-item">AZN</li>
                            <li class="converter__select-item">ALL</li>
                            <li class="converter__select-item">XCD</li>
                            <li class="converter__select-item">AOA</li>
                            <li class="converter__select-item">SYP</li>
                            <li class="converter__select-item">BMD</li>
                            <li class="converter__select-item">BWP</li>
                        </ul>
                    </div>
                </div>
                <div class="converter__input-block">
                    <input type="number" class="converter__input" value="0" maxlength="10">
                </div>
                <div class="converter__info">
                    To
                </div>
            </div>
        </div>
    </div>
</section>